/*
 * @Author: whoiszxl 
 * @Date: 2018-06-09 12:42:42 
 * @Last Modified by: whoiszxl
 * @Last Modified time: 2018-06-09 15:00:59
 */
 
 .color-box{
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    &:focus{
        text-decoration: none;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}
