<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        
        <title>xlmall电商平台</title>
    </head>
    
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html')  %>

    <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html')  %>
        <div class="content with-nav">aa</div>
    </div>

    <%= require('html-loader!./layout/footer.html') %>
</body>


</html>