<!DOCTYPE html>
<html lang="en">
    <head> 
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - xlmall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="w">
            <ul class="keywords-list">
                <div class="loading"></div>
            </ul>
            <div class="banner-con">
                <div class="loading"></div>
            </div>
        </div>
        <div class="w index-category">
            <div class="loading"></div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>