<!DOCTYPE html>

<html lang="en">

<head>
    <%= require("html-loader!./layout/head-common.html") %>

        <title>
            <%= htmlWebpackPlugin.options.title %>XLMALL电商平台</title>
</head>

<body>
    <%=   require("html-loader!./layout/nav-simple.html")    %>
        <div class="page-wrap">
            <div class="user-con">
                <p>找回密码</p>
                <div class="error-item">
                    <label for="user-error" class="fa fa-minus-circle error-icon"></label>
                    <p class="error-msg">error</p>
                </div>
                <div class="step-con step-username">
                    <p class="user-item-text">请输入用户名</p>
                    <div class="user-item">
                        <label for="user-name" class="fa fa-user"></label>
                        <input type="text" id="username" placeholder="输入用户名">
                    </div>
                    <button type="sumbit" class="btn submit">下一步</button>
                </div>
                <div class="step-con step-question">
                    <p class="user-item-text">密码提示问题:<span class="question"></span></p>
                    <div class="user-item">
                        <label for="user-name" class="fa fa-key"></label>
                        <input type="text" id="anwser" placeholder="输入答案">
                    </div>
                    <button type="sumbit" class="btn submit">下一步</button>
                </div>
                <div class="step-con step-Reset">
                    <p class="user-item-text">请输入新密码</p>
                    <div class="user-item">
                        <label for="password" class="fa fa-lock"></label>
                        <input type="password" id="password" placeholder="输入新密码">
                    </div>
                    <p class="user-item-text">请再次输入新密码</p>
                    <div class="user-item">
                        <label for="passwordComfirm" class="fa fa-lock"></label>
                        <input type="password" id="passwordComfirm" placeholder="请确认密码">
                    </div>
                    <button type="sumbit" class="btn submit">下一步</button>
                </div>

                <div class=" link-item ">
                    <a href="./index.html " class="link ">回到主页</a>
                    <a href="./login.html " class="link ">跳转登陆</a>
                </div>

            </div>

        </div>

        <%=   require("html-loader!./layout/footer.html")    %>
</body>

</html>