<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title><%= htmlWebpackPlugin.options.title%> - xlmall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">XLMALL</a>
                    <span>></span>
                    <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <%= require('html-loader!./layout/nav-side.html')  %>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">修改密码</div>
                    <div class="panel-body">
                        <div class="user-info">
                            <div class="form-line">
                                <span class="label">原密码：</span>
                                <input type="password" class="input" id="password" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">新密码：</span>
                                <input type="password" class="input" id="password-new" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">确认密码：</span>
                                <input type="password" class="input" id="password-confirm" autocomplete="off"/>
                            </div>
                            <span class="btn btn-submit">提交</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>