/*
 * @Author: whoiszxl 
 * @Date: 2018-05-12 10:30:55 
 * @Last Modified by:   whoiszxl 
 * @Last Modified time: 2018-05-12 10:30:55 
 */
/* 通用头部导航 */
.header .logo{
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
}

.header .search-con{
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}
.header .search-con .search-btn{
    position: absolute;
    height: 44px;
    width: 80px;
}

/* 面包屑导航 */
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}