.page-wrap {
    padding: 50px;
    background: #da1505;
}

.user-con {
    margin: 0 auto;
    width: 400px;
    background-color: white;
    text-align: center;
}

.user-con>p {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #858585;
}


/* 错误信息  */

.error-item {
    display: none;
    width: 335px;
    margin: 10px auto;
    padding: 4px;
    color: red;
    border: 1px solid red;
}

.error-item p {
    display: inline-block;
}

.user-con .step-con {
    display: none;
}

.user-con .user-item {
    margin: 10px;
    font-size: 0;
    text-align: center;
}

.user-con .user-item-text {
    text-align: left;
    padding-left: 30px;
}

.user-con .user-item label {
    border: 2px solid #b7b7b7;
    background-color: #b7b7b7;
    padding: 6px;
    font-size: 30px;
}

.user-con .user-item input {
    height: 42px;
    width: 300px;
    line-height: 42px;
    vertical-align: top;
    outline: none;
}

.user-con .btn {
    width: 342px;
    display: inline-block;
    margin: 10px;
}

.user-con .link-item {
    margin-left: 230px;
    padding: 10px;
}

.user-con .link-item .link {}