/*
* @Author: Rosen
* @Date:   2018-02-02 10:25:51
* @Last Modified by:   Rosen
* @Last Modified time: 2018-02-02 10:29:35
*/
.cate-select{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
}