/*
* @Author: whoiszxl
* @Date:   2018-02-02 16:19:20
* @Last Modified by:   whoiszxl
* @Last Modified time: 2018-02-02 16:51:03
*/

$sub-img-size: 80px;
.img-con{
    position: relative;
    width: $sub-img-size;
    height: $sub-img-size;
    float: left;
    margin-right: 10px;
    border: 1px solid #ccc;
    .img{
        width: 100px;
        height: 100px;
        display: block;
    }
    .fa-close{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: $sub-img-size;
        line-height: $sub-img-size;
        cursor: pointer;
        display: none;
        font-size: 50px;
        color: #aaa;
        background: rgba(0,0,0,.2);
    }
    &:hover{
        .fa-close{
            display: block;
        }
    }
}

.file-upload-con{
    margin-top: 15px;
}