<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whoiszxl.mapper.CouponMapper">


    <select id="myCouponList" resultType="com.whoiszxl.cqrs.response.MyCouponApiResponse">
        select sc.id, sc.name, sc.sub_name as subName, sc.start_time as startTime,
        sc.end_time as endTime, sc.use_threshold as useThreshold, sc.discount_amount as discountAmount,
        sc.discount_rate as discountRate, sc.type, sc.full_limited as fullLimited,
        smc.status, smc.get_time as getTime, smc.use_time as useTime
        from spms_member_coupon as smc
        left join spms_coupon as sc
        on smc.coupon_id = sc.id
        where smc.member_id = #{memberId}
        and smc.status = #{status}
    </select>
    
</mapper>
