/*
 * @Author: whoiszxl 
 * @Date: 2018-06-09 14:10:13 
 * @Last Modified by:   whoiszxl 
 * @Last Modified time: 2018-06-09 14:10:13 
 */

.page-header-right{
    position: absolute;
    right: 15px;
    top: 12px;
}