/*
* @Author: Administrator
* @Date:   2018-04-19 10:58:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-28 20:18:09
*/
.color-box{
    display: block;
    height: 160px;
    text-align: center;
    padding: 20px 0;
    opacity: .9;
    transition: all .3s;
    &:hover{
        text-decoration: none;
        color: #555;
        opacity: 1;
        transform: scale(1.08);
    }
    //&表示当前元素的伪元素
    &:focus{
        text-decoration: none;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}