/*
 * @Author: whoiszxl 
 * @Date: 2018-05-12 10:39:43 
 * @Last Modified by:   whoiszxl 
 * @Last Modified time: 2018-05-12 10:39:43 
 */

/* 导航主体 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}