
/*订单信息*/
.order-info .text-line{
    height: 30px;
    line-height: 30px;
}
.order-info .text-line .text{
    margin-right: 30px;
}
.order-info .btn{
    width: 80px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
}
/*商品清单*/
.product-table{
    width: 100%;
    border-collapse: collapse;
}
.product-table .cell-th{
    background: #eee;
}
.product-table .cell{
    border-bottom: 1px dashed #eee;
    background: #fafafa;
}

.product-table .cell-img{
    padding:10px;
    width: 10%;
    text-align: center;
}
.product-table .cell-img .p-img{
    width: 80px;
    height:80px;
    border:1px solid #ddd;
}
.product-table .cell-info{
    width: 45%;
    text-align: left;
}
.product-table .cell-price{
    width: 15%;
    text-align: center;
}
.product-table .cell-count{
    width: 10%;
    text-align: center;
}
.product-table .cell-total{
    width: 10%;
    text-align: center;
}

/*总价钱*/
.total{
    text-align: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 20px;
}
.total .total-price{
    font-weight: bold;
    color: #c60023;
}