/*地址部分的样式*/
.address-item,
.address-add{
    width: 200px;
    float: left;
    border:3px dashed #ccc;
    padding:5px 8px;
    margin:20px 20px 0 0;
}
.address-item:hover,
.address-add:hover{
    background: #fafafa;
}
.address-item.active{
    border:3px dashed #c60023;
}
.address-item .address-title{
    overflow: hidden;
    color: #666;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}
.address-item .address-detail{
    height: 40px;
    line-height: 20px;
    margin-top: 5px;
    overflow: hidden;
    color: #666;
}
.address-item .address-opera{
    text-align: right;
    visibility: hidden;
}
.address-item:hover .address-opera{
    visibility: visible;
 }
.address-item .address-opera .link{
    margin-right: 5px;
}
.address-add .address-new{
    text-align: center;
    color: #ccc;
    padding:8px 0;
}
.address-add .address-new .fa{
    font-size: 50px;
    line-height: 50px;
}
.address-add .address-new .text{
    font-size: 12px;
}

/*商品清单部分*/
.product-table{
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}
.product-table th,
.product-table td{
    border-bottom: 1px dotted #ddd;
}
.product-table .cell-img{
    padding:10px;
    width: 10%;
    text-align: center;
}
.product-table .cell-img .p-img{
    width: 80px;
    height:80px;
    border:1px solid #ddd;
}
.product-table .cell-info{
    width: 30%;
    text-align: left;
}
.product-table .cell-price{
    width: 20%;
    text-align: center;
}
.product-table .cell-count{
    width: 10%;
    text-align: center;
}
.product-table .cell-total{
    width: 10%;
    text-align: center;
}

/*订单提交*/
.submit-con{
    background: #eee;
    text-align: right;
}
.submit-con .submit-total{
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 20px;
}
.submit-con .order-submit{
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100px;
}

/*modal部分*/
.modal{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    background: rgba(0,0,0,.4);
    z-index:1000;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal .modal-container{
    width: 700px;
    margin:50px auto;
    background: #fff;
    border-radius: 2px;
}
.modal .modal-container .modal-header{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.modal .modal-container .modal-header .modal-title{
    font-size: 14px;
}
.modal .modal-container .modal-header .close{
    position: absolute;
    padding: 10px;
    right: 10px;
    top:10px;
    cursor: pointer;
}
.modal .modal-container .modal-body{
    padding: 15px;
}

/*from部分*/
.form .form-line{
    margin:5px 0;
    overflow: hidden;
}
.form .form-line .label{
    display: block;
    float: left;
    width: 85px;
    text-align: right;
    height:30px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.form .form-line .label .require{
    color: red;
}
.form .form-line .form-item{
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;
}
.form .form-line .btn{
    margin-left: 95px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}