/*
 * @Author: whoiszxl 
 * @Date: 2018-05-25 18:22:52 
 * @Last Modified by:   whoiszxl 
 * @Last Modified time: 2018-05-25 18:22:52 
 */

.describe {
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
}