/*
 * @Author: whoiszxl 
 * @Date: 2018-05-12 17:07:03 
 * @Last Modified by: whoiszxl
 * @Last Modified time: 2018-05-12 17:34:05
 */

 .form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}