a {
  color: #666;
}
.success-cart {
  background-color: #f4f4f4;
}
.other-item.py-container {
  margin-bottom: 15px;
}
.success-cart h3 {
  font-weight: 400;
  font-size: 16px;
  color: #6aaf04;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.success-cart .icon-pc-right {
  background-color: #fff;
  border: 2px solid #6aaf04;
  padding: 3px;
  margin-right: 8px;
  border-radius: 15px;
}
.success-cart .goods {
  overflow: hidden;
  padding: 10px 0;
}
.success-cart .goods .left-good {
  float: left;
}
.success-cart .goods .right-gocart {
  float: right;
}
.left-good .left-pic {
  border: 1px solid #dfdfdf;
  width: 60px;
  float: left;
}
.left-good .right-info {
  color: #444;
  float: left;
  margin-left: 10px;
}
.left-good .right-info p {
  margin-bottom: 0;
  margin-top: 0;
}
.right-info .title {
  width: 100%;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.right-info .attr {
  color: #aaa;
}
.right-gocart a {
  padding: 7px 36px;
  font-size: 15px;
}
.btn-danger {
  border: 1px solid #ff713f;
}
.right-gocart .btn-danger {
  background-color: #ff713f;
}
.right-gocart .btn-danger:hover {
  background-color: #ff713f;
}
.banner-goods {
  padding: 10px;
}
.banner-goods ul li {
  margin-bottom: 20px;
}
.banner-goods .banner-item {
  font-family: "微软雅黑";
}
.banner-goods .banner-item .p-img {
  float: left;
  border: 1px solid #eaeaea;
  margin-right: 10px;
}
.banner-goods .banner-item .p-name {
  overflow: hidden;
  padding-right: 35px;
}
.banner-item .p-name a {
  color: #555;
  text-decoration: none;
}
.banner-item .p-name a:hover {
  color: #c81623;
}
.banner-goods .banner-item .p-price {
  line-height: 26px;
  font-size: 14px;
  color: #c81623;
}
.banner-goods .banner-item .p-btn {
  margin-top: 12px;
}
.sui-carousel .carousel-indicators {
  color: #444;
  width: 100px;
  height: 20px;
  position: relative;
  margin: 0 auto;
}
.sui-carousel .carousel-indicators li {
  background-color: #fc9672;
  width: 25px;
  cursor: pointer;
}
.sui-carousel .carousel-indicators .active {
  background-color: #ff713f;
}
ul li .buy-list {
  border: 1px solid #eaeaea;
  width: 90%;
}
.buy-list {
  text-align: center;
  overflow: hidden;
}
.buy-list p {
  margin-bottom: 0;
  margin-top: 0;
  color: #c81623;
}
.buy-goods .buy-list .imgs {
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
}
.buy-goods .buy-list .imgs .ab-cover {
  width: 155px;
  height: 155px;
  float: left;
  border: 1px solid #eaeaea;
}
.buy-goods .buy-list .imgs .ab-list {
  border: 1px solid #eaeaea;
  width: 52px;
  float: left;
}
.imgs .ab-list ul li {
  list-style: none;
  width: 52px;
  height: 52px;
}
.buy-list .operate {
  width: 80%;
  margin: 0 auto;
  color: #555;
  overflow: hidden;
  line-height: 32px;
  font-size: 15px;
}
.buy-list .operate i {
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 4px;
}
.buy-list .operate a {
  color: #555;
  text-decoration: none;
}
.buy-list .operate a:hover {
  color: #c81623;
}
.buy-list .operate .point {
  float: left;
}
.buy-list .operate .zan {
  float: right;
}
