seckillOrderseckillOrder input {
  *display: inline;
  *zoom: 1;
}
a {
  color: #666;
}
.home {
  padding: 10px;
  color: #333;
}
.list dl {
  margin: 0;
}
.list dt,
dd {
  line-height: 28px;
}
.list dt {
  font-weight: 700;
  padding: 5px;
}
.list dt i {
  color: #77b72c;
}
.list dd {
  margin: 0 0 6px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}
.body {
  color: #666;
}
.body .order,
.body .discount {
  border: 1px solid #ddd;
  margin: 0 20px 12px;
}
.body .ever {
  margin: 20px;
}
.order .mt {
  overflow: hidden;
  padding: 12px 10px;
  background-color: #f1f1f1;
  font-size: 15px;
}
.order .order-detail {
  padding: 10px;
  text-align: center;
}
.order-detail .none {
  color: #666;
  font-size: 16px;
}
.order-detail .orders {
  padding: 10px 0;
}
.orders .delete {
  cursor: pointer;
}
.list1,
.list2,
.list3,
.list4 {
  position: relative;
}
.list1 i {
  background-position: -526px -73px;
}
.list2 i {
  background-position: -526px -104px;
}
.list3 i {
  background-position: -526px -132px;
}
.list4 i {
  background-position: -526px -163px;
}
.td ul li {
  list-style-type: none;
  width: 45%;
  height: 80px;
  text-align: center;
  line-height: 26px;
}
.td ul li div {
  background-image: url(../img/icons.png);
  width: 50px;
  height: 50px;
  position: absolute;
}
.td {
  width: 200px;
  margin: 0 auto;
  padding: 0 20px;
  display: inline-block;
  position: relative;
}
.td span {
  color: #999;
}
.td .td1 {
  background-position: -314px -7px;
  position: absolute;
  top: 25px;
  left: 40px;
}
.td .td2 {
  background-position: -319px -54px;
  position: absolute;
  top: 25px;
  right: 53px;
}
.td .td3 {
  background-position: -319px -97px;
  position: absolute;
  top: 109px;
  left: 46px;
}
.td .td4 {
  background-position: -319px -143px;
  position: absolute;
  top: 107px;
  right: 54px;
}
.space {
  background-color: #ddd;
}
.space-x {
  width: 178px;
  height: 0;
  position: absolute;
  top: 80px;
  left: 11px;
  border-bottom: 1px solid #ddd;
}
.space-y {
  height: 159px;
  position: absolute;
  top: 2px;
  left: 105px;
  border-right: 1px solid #ddd;
}
.minus,
.change {
  border-right: 1px solid #ddd;
  margin-right: -1px;
}
.title {
  padding: 20px 10px 10px;
  color: #666;
}
.carousel-control {
  left: 0;
  top: 47%;
  border: 0;
  background: #c3c3c3;
  width: 20px;
  border-radius: 0;
}
.carousel-inner > .item > img {
  width: 238px;
  margin: 0 auto;
}
.jifen {
  overflow: hidden;
  padding: 10px;
  margin: 5px 0;
}
.jifen .fr {
  width: 185px;
}
.fen {
  line-height: 28px;
}
.fen i {
  color: red;
}
.dui {
  padding-right: 10px;
}
.chong {
  margin-top: 10px;
}
.sui-form.form-horizontal .control-group {
  margin-bottom: 9px;
  *margin-bottom: 11px;
  *padding-bottom: 11px;
}
.control-group .control-label {
  float: left;
  width: 96px;
  ooverflow: hidden;
}
.control-group .controls {
  float: left;
  width: 139px;
}
.ever .tab-content {
  border: 0;
  border-top: 0;
}
.tab-content .chosetype {
  margin-top: 10px;
}
.sui-nav.nav-tabs {
  background: #f1f1f1;
  padding-left: 0;
  border: 1px solid #ddd;
  margin: 0;
  overflow: hidden;
}
.sui-nav.nav-tabs > li > a {
  border: 0;
  padding: 10px 20px;
  font-family: "微软雅黑";
}
.sui-nav.nav-tabs > li > a .mark {
  vertical-align: super;
  background: #ff713f;
  color: #f7f1f1;
  padding: 0 5px 2px;
  border-radius: 8px;
}
.sui-nav.nav-tabs > .active > a,
.sui-nav.nav-tabs > li > a:hover {
  background-color: #ff713f;
  color: #fff;
  border-radius: 0;
  border: 0;
}
.sui-nav.nav-tabs > li > a:hover {
  background-color: #ff713f !important;
}
.sui-nav.nav-tabs > li + li {
  margin-left: 2px;
}
.sui-nav.nav-tabs > .active > a .mark {
  background-color: #ececec;
  color: #333;
}
.like-list {
  padding: 20px;
  color: #666;
  margin: -12px 20px 20px;
  border: 1px solid #ddd;
  border-top: 0;
}
.like-list ul li .attr,
.like-list ul li .price,
.like-list ul li .commit {
  padding-left: 15px;
}
.like-list ul li .attr {
  padding-bottom: 10px;
}
.list-wrap .price {
  font: 16px "微软雅黑";
  color: #e4393c;
}
.like-list ul li .list-wrap {
  line-height: 22px;
}
