a {
    color: #666
}

.btn-danger {
    border-radius: 0
}

.btn-danger:hover,
.btn-danger:focus .btn-danger:active,
.btn-danger.active {
    border: 1px solid #ff713f;
    background-color: #ff713f
}

.typeNav {
    border-bottom: 2px solid #ff713f
}

#item {
    margin: 15px 0;
    font-family: "微软雅黑"
}
.preview-wrap {
    width: 400px
}

.itemInfo-wrap {
    width: 700px
}

.aside {
    width: 210px
}

.detail {
    width: 980px
}

em {
    font-style: normal
}

.sui-breadcrumb {
    padding: 9px 15px 0 0;
    margin: 0 0 9px
}

.product-info {
    overflow: hidden;
    margin: 5px 0 15px
}

.itemInfo-wrap {
    font-family: "宋体"
}

.summary-wrap .price {
    color: #c81623
}

.summary-wrap .price em {
    font-size: 24px;
    font-weight: 700
}

.summary-wrap .price i {
    font-size: 16px
}

.summary-wrap .price span {
    font-size: 12px
}

.product-detail {
    margin: 30px 0
}

.red-bg {
    background: #B61D1D;
    padding: 3px;
    color: #fff
}

.sku-name h4 {
    font-weight: 700
}

.news {
    color: #e12228
}

.summary {
    background: #fee9eb;
    padding: 7px;
    margin: 13px 0
}

.support {
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px
}

.summary-wrap {
    overflow: hidden;
    line-height: 28px;
    margin-top: 10px
}

.summary-wrap dl {
    overflow: hidden
}

.summary-wrap dl a {
    color: #666;
    line-height: 24px;
    padding: 2px 14px;
    margin-right: 5px;
    display: block;
    float: left;
    position: relative;
    outline: 0;
    border-top: 1px solid #eee;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #eee;
    background-color: #fff;
    text-decoration: none
}

.summary-wrap .selected {
    border: 1px solid #77b72c
}

.summary-wrap .locked {
    color: #d6d6d6;
    cursor: not-allowed;
    border-color: #bbb;
    border-style: dotted
}

.summary-wrap a span {
    width: 13px;
    height: 13px;
    display: none;
    position: absolute;
    right: 0;
    _right: -1px;
    bottom: 0;
    _bottom: -1px;
    overflow: hidden;
    background: url(../img/choosed.png) no-repeat
}

.summary-wrap .selected span {
    display: block
}

.title {
    margin-right: 15px
}

.controls {
    width: 48px;
    position: relative
}

.controls a {
    text-decoration: none
}

.controls .itxt {
    display: block;
    width: 38px;
    height: 34px;
    line-height: 42px;
    border: 1px solid #ddd;
    text-align: center;
    color: #555;
    float: left;
    border-right: 0
}

.controls .plus {
    display: block;
    width: 15px;
    text-align: center;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -8px;
    border: 1px solid #ccc
}

.controls .mins {
    display: block;
    width: 15px;
    text-align: center;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    background: #f1f1f1;
    color: #666;
    position: absolute;
    right: -8px;
    border: 1px solid #ccc;
    top: 19px;
    border-top: 0
}

.red-bg {
    background: #c81623;
    color: #fff;
    padding: 3px
}

.fix-width {
    width: 520px
}

.t-gray {
    color: #999
}

ul.btn-choose li {
    float: left;
    margin: 0 10px 0 0
}

ul.btn-choose li .btn-xlarge .addshopcar {
    font-size: 16px
}

.addshopcar {
    padding: 10px 25px;
    background: #77b72c;
    font-size: 16px;
    font-family: 微软雅黑
}

ul.btn-choose li .btn-xlarge {
    font-size: 12px;
    border-radius: 0
}

.sui-btn:active,
.sui-btn.active {
    background-color: #ff713f;
    color: #fff
}

.btn-danger {
    background-color: #ff713f;
    border: 1px solid #ff713f
}

ul.part-list {
    overflow: hidden
}

ul.part-list li {
    line-height: 18px;
    width: 50%;
    float: left;
    border-bottom: 1px dashed #ededed;
    line-height: 28px
}

.sui-nav.nav-tabs.tab-wraped>li {
    width: 50%
}

.sui-nav.nav-tabs.tab-wraped>li>a {
    padding: 11px;
    text-align: center
}

.sui-nav.nav-tabs.tab-wraped>li.active>a {
    padding-top: 9px;
    border-top: 3px solid #ff713f
}

.intro .sui-nav.nav-tabs.tab-wraped>li.active>a {
    font-weight: 400;
    border: 0;
    padding-top: 12px;
    background: #ff713f;
    color: #fff
}

.tab-content.tab-wraped {
    padding: 10px
}

.summary-price-wrap {
    overflow: hidden
}

.goods-list .operate {
    margin: 5px 40px
}

ul.goods-list li {
    margin: 5px 0 15px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 5px
}

ul.goods-intro li {
    line-height: 26px
}

.p-img img {
    padding-left: 20px
}

.suits .list-wrap {
    float: left;
    margin: 0 10px
}

.good-suits {
    overflow: hidden
}

.master,
.suits,
.result {
    height: 140px;
    padding: 10px
}

.master .list-wrap {
    position: relative;
    text-align: center
}

.master .list-wrap i {
    position: absolute;
    top: 48px;
    right: -25px;
    font-size: 16px
}

.master .list-wrap em {
    color: #c81623;
    font-size: 16px;
    font-weight: 700
}

.suits ul li {
    float: left;
    list-style-type: none;
    padding: 0 20px
}

.result {
    line-height: 26px;
    border-left: 1px solid #ddd;
    padding: 20px
}

.result .price {
    color: #B1191A;
    font-size: 16px
}

.fitting,
.like {
    border: 1px solid #ddd;
    margin-bottom: 15px
}

.intro .sui-nav.nav-tabs.tab-wraped {
    background: #ededed
}

.intro .sui-nav.nav-tabs.tab-wraped>li {
    width: auto
}

.intro .tab-content.tab-wraped {
    border: 0
}

.kt {
    border-bottom: 1px solid #ddd;
    background: #f1f1f1;
    color: #333;
    margin: 0;
    padding: 5px 0 5px 15px
}

.like .like-list {
    padding: 15px
}

.like-list ul li .attr,
.like-list ul li .price,
.like-list ul li .commit {
    padding-left: 15px;
    font-family: "微软雅黑"
}

.list-wrap .price {
    font-size: 16px;
    color: #c81623
}

.like-list ul li .price {
    margin-bottom: 20px
}

.like-list ul li .list-wrap {
    line-height: 22px
}

.comment p {
    margin-bottom: 0;
    margin-top: 0
}

.comment .com-tit {
    padding: 0 10px;
    line-height: 32px;
    font-size: 14px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    font-weight: 700
}

.comment .com-percent {
    text-align: center;
    line-height: 45px
}

.comment .com-percent p {
    margin-bottom: 0
}

.comment .com-percent .percent {
    font-size: 30px;
    color: #FF0909
}

.comment .com-tab-type {
    line-height: 36px
}

.comment .com-tab-type .type {
    padding-left: 20px;
    list-style: none;
    background-color: #f7f7f7
}

.comment .com-tab-type .type li {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer
}

.comment .com-tab-type .type li a {
    text-decoration: none;
    color: #555
}

.comment .com-tab-type .type li.current a {
    color: #FF0909
}

.comment .com-tab-type .content .com-item {
    padding: 15px;
    line-height: 26px;
    border-bottom: 1px solid #ddd
}

.com-item .user-column {
    float: left;
    width: 140px
}

.com-item .user-column .username img {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    margin-right: 2px
}

.com-item .user-column .usernum {
    color: #999
}

.com-item .user-info {
    margin-left: 150px
}

.com-item .user-info .stars {
    width: 78px;
    height: 18px;
    background: url(../img/_/star.png) no-repeat
}

.com-item .user-info .stars.star4 {
    background-position: 0 0
}

.com-item .user-info .mini {
    list-style: none;
    float: left
}

.com-item .user-info .mini li {
    display: inline-block
}

.com-item .user-info .guige {
    color: #999
}
.com-item .user-info .guige .reply {
    color: #ff0909;
    margin: 10px;
    border-top: 1px solid #dddddd;
    padding-top: 15px;
    font-size: 14px;
}
.com-item .user-info .guige .reply .name {
    padding-right: 20px;
}
.com-item .user-info .guige .reply .time {
    color: #999
}
.com-item .user-info .operate {
    float: right
}

.com-item .user-info .operate span {
    padding-right: 15px;
    cursor: pointer
}

.com-item .user-info .operate span i {
    font-size: 16px
}

i.icon-tb-likefill {
    color: #C81623
}

i.icon-tb-wangfill {
    color: #C81623
}