p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.remind {
    color: red;
}

.qrImg {
    text-align: center;
    padding: 30px;
}

.qrImg img {
    width: 400px;
    height: 400px;
    display: inline-block;
}