/*
* @Author: Rosen
* @Date:   2018-02-05 14:36:17
* @Last Modified by:   Rosen
* @Last Modified time: 2018-02-05 14:47:49
*/
.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}
