[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
port=3300
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake
skip-name-resolve