/*
 * @Author: whoiszxl 
 * @Date: 2018-05-12 13:53:54 
 * @Last Modified by:   whoiszxl 
 * @Last Modified time: 2018-05-12 13:53:54 
 */
 
.page-wrap{
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    background: #fff;
}
.result-con{
    display: none;
}
.result-con .result-title{
    color: #555;
}
.result-con .result-content{
    margin-top: 20px;
}
.result-con .result-content .link{
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}