<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whoiszxl.dao.SkuMapper">
	<resultMap id="BaseResultMap" type="com.whoiszxl.entity.Sku">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="product_id" jdbcType="INTEGER" property="productId" />
		<result column="product_sku_title" jdbcType="VARCHAR" property="productSkuTitle" />
		<result column="product_sku_content" jdbcType="VARCHAR"
			property="productSkuContent" />
	</resultMap>
	<sql id="Base_Column_List">
		id, product_id, product_sku_title, product_sku_content
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from xl_sku
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from xl_sku
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.whoiszxl.entity.Sku">
		insert into xl_sku (id, product_id, product_sku_title,
		product_sku_content)
		values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER},
		#{productSkuTitle,jdbcType=VARCHAR},
		#{productSkuContent,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.whoiszxl.entity.Sku">
		insert into xl_sku
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productId != null">
				product_id,
			</if>
			<if test="productSkuTitle != null">
				product_sku_title,
			</if>
			<if test="productSkuContent != null">
				product_sku_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=INTEGER},
			</if>
			<if test="productSkuTitle != null">
				#{productSkuTitle,jdbcType=VARCHAR},
			</if>
			<if test="productSkuContent != null">
				#{productSkuContent,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.whoiszxl.entity.Sku">
		update xl_sku
		<set>
			<if test="productId != null">
				product_id = #{productId,jdbcType=INTEGER},
			</if>
			<if test="productSkuTitle != null">
				product_sku_title = #{productSkuTitle,jdbcType=VARCHAR},
			</if>
			<if test="productSkuContent != null">
				product_sku_content = #{productSkuContent,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.whoiszxl.entity.Sku">
		update xl_sku
		set product_id = #{productId,jdbcType=INTEGER},
		product_sku_title = #{productSkuTitle,jdbcType=VARCHAR},
		product_sku_content = #{productSkuContent,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectSkuByProductId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from xl_sku
		where product_id = #{product_id}
	</select>

</mapper>