/*
* @Author: Administrator
* @Date:   2018-05-03 10:37:28
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-03 10:50:18
*/
.cate-select{
	width: 185px;
	margin-right: 10px;
	display: inline-block;
}
