/*
* @Author: Administrator
* @Date:   2018-04-30 10:16:49
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-01 22:10:47
*/
.pro-item{
    img{
        width: 80px;
        height: 80px;
    }
}
.oper{
    margin-right: 5px;
}
.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}