# Node modules
node_modules/

# Dist files
dist/
lib/

# Test coverage files
coverage/

# MacOS Desktop Services Store
.DS_Store

# Log files
*.log

# IDE setting files
.idea
.vscode

# Temp files
cache/
.vite_opt_cache

# Other files
/src/client/shared.ts
/src/node/shared.ts
pnpm-global
TODOs.md
article-data.json

CNAME
package-lock.json
yarn.lock
pnpm-lock.yaml