.page-wrap{
    background: #fff;
    padding:10px 0 25px 0;
}
.payment-tips{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
}
.payment-tips.enhance{
    color: #c60023;
}
.img-con{
    margin:0 auto;
    width: 300px;
    height: 300px;
    border:1px solid #ddd;
}
.img-con .qr-code{
    width: 100%;
    height: 100%;
}