/*
* @Author: Administrator
* @Date:   2018-04-25 10:53:56
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-25 13:34:09
*/

.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}
.comment-field:nth-child(2), .comment-field-button{
	margin-top: 10px;
}
.username{
	color: #2DAFCB;
}